@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400&display=swap");
.postContent {
  color: var(--lg-darkest-gray);
  line-height: 1.9rem;
  font-size: var(--text-lg);
  width: 100%;
  pre {
    white-space: pre-wrap;
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 15px;
    color: var(--lg-darker-white);
    background-color: var(--lg-light-black);
    border-radius: 5px;
    code {
      color: var(--lg-darker-white);
      background-color: transparent;
    }
  }
  blockquote {
    margin-left: 0;
    border-radius: 8px;
    background: var(--lg-darker-white);
    width: 100%;
    padding: 0px 10px;
    font-size: var(--text-sm);
    color: var(--lg-darkest-gray);
  }
  code {
    color: var(--lg-light-black);
    background-color: var(--lg-lightest-gray);
    padding: 2px 5px;
    border-radius: 8px;
    font-family: "Roboto Mono", monospace;
    font-size: var(--text-sm);
  }
  a {
    text-decoration: none;
    color: var(--lg-blue);
  }
  img {
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  video {
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}
