# Gatsby (browser-safe)
GATSBY_CLOUDINARY_CLOUD_NAME=
GATSBY_CLOUDINARY_FOLDER=soheee-bae-site

# Scripts only (DO NOT expose to browser)
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

# Optional script behavior
# CLOUDINARY_OVERWRITE=true
