@import "../styles/size";
@import "../styles/colors";

.aboutContainer {
  max-width: $content-max-width;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--lg-lightest-gray);
}
